fastapi==0.95.0 #22.3.1
uvicorn==0.21.1
pandas
anyio==3.6.2
asttokens
click==8.1.3
colorama==0.4.6
comm==0.1.3
contourpy
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
fonttools
h11==0.14.0
idna==3.4
ipykernel
ipython
jedi
jupyter_core
kiwisolver==1.4.4
matplotlib
nest_asyncio
numpy
packaging==23.0
parso==0.8.3
pickleshare==0.7.5
pillow==9.5.0
pip==23.0.1
platformdirs==3.2.0
prompt_toolkint
psutil==5.9.4
pure_eval==0.2.2
pydantic==1.10.7
Pygments==2.15.0
pyparsing==3.0.9
python_dateutil==2.8.2
pytz==2023.3
pyzmq==25.0.2
seaborn==0.12.2
setuptools==65.5.0
six==1.16.0
sniffio==1.3.0
stack_data==0.6.2
starlette==0.26.1
tornado==6.2
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2023.3
wcwidth==0.2.6




